In [1]:
import pandas as pd
import numpy as np
import numpy.polynomial.polynomial as poly
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime
import calendar
import math
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
import joblib
# from sklearn.model_selection import train_test_split

import shapefile

from data_utils import *

2022-11-27 13:38:31.212088: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

# Process Feedforward Data

In [27]:
# Set the directory for your local machine
data_dir = '/Users/probook/Documents/GitHub/mobilityforecast/data/'

# Load all of 2021 taxi and bike data

year = 2021

df_binned_bike = pd.DataFrame()
df_binned_taxi = pd.DataFrame()
df_weather_pp = pd.DataFrame()

df_weather = load_data(data_dir,'manhattan.csv','csv')

for i in range(0,12):
    df_bike = load_data(data_dir,'2021{:02d}-citibike-tripdata.csv'.format(i+1),'csv')
    df_taxi = load_data(data_dir,'yellow_tripdata_2021-{:02d}.parquet'.format(i+1),'parquet')
    df_bike_pp = feedforward_data(df_bike, data_dir, 'CitiBike', year, i+1, 5)
    df_taxi_pp = feedforward_data(df_taxi, data_dir, 'Taxi', year, i+1, 5)
    df_binned_bike = pd.concat([df_binned_bike, df_bike_pp])
    df_binned_taxi = pd.concat([df_binned_taxi, df_taxi_pp])
    df_weather_temp = feedforward_data(df_weather, data_dir, 'Weather', year, i+1)
    df_weather_pp = pd.concat([df_weather_pp, df_weather_temp])

 CitiBike 2021 1 5

 Taxi 2021 1 5

 Weather 2021 1 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 2 5

 Taxi 2021 2 5

 Weather 2021 2 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 3 5

 Taxi 2021 3 5

 Weather 2021 3 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 4 5

 Taxi 2021 4 5

 Weather 2021 4 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 5 5

 Taxi 2021 5 5

 Weather 2021 5 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 6 5

 Taxi 2021 6 5

 Weather 2021 6 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 7 5

 Taxi 2021 7 5

 Weather 2021 7 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 8 5

 Taxi 2021 8 5

 Weather 2021 8 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 9 5

 Taxi 2021 9 5

 Weather 2021 9 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 10 5

 Taxi 2021 10 5

 Weather 2021 10 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 11 5

 Taxi 2021 11 5

 Weather 2021 11 5

/Users/probook/Documents/GitHub/mobilityforecast/src/data_utils.py:37: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, data_file))

 CitiBike 2021 12 5

 Taxi 2021 12 5

 Weather 2021 12 5

In [28]:
df_bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,72D1C9F1A2FEB359,classic_bike,2021-12-04 17:53:23,2021-12-04 18:05:37,Irving Ave & Halsey St,4695.04,Central Ave & Himrod St,4713.01,40.694670,-73.906630,40.696760,-73.923020,casual
1,8BE7469E1A90508C,electric_bike,2021-12-04 17:35:04,2021-12-04 17:52:55,W 25 St & 6 Ave,6215.04,W 29 St & 9 Ave,6416.06,40.743954,-73.991449,40.750073,-73.998393,casual
2,AF9EDCC2A347E607,electric_bike,2021-12-13 23:59:41,2021-12-14 00:08:31,Irving Ave & Halsey St,4695.04,Harman St & Seneca Ave,5002.09,40.694670,-73.906630,40.705770,-73.912920,casual
3,495CF3C8A1B7FED8,classic_bike,2021-12-22 12:22:38,2021-12-22 12:25:46,Lenox Ave & W 115 St,7627.1,Central Park North & Adam Clayton Powell Blvd,7617.07,40.801194,-73.950074,40.799484,-73.955613,member
4,1C138E3D55FCC7C1,classic_bike,2021-12-16 10:15:22,2021-12-16 10:32:02,W 26 St & 10 Ave,6382.05,W Broadway & Spring St,5569.06,40.749718,-74.002950,40.724947,-74.001659,member

In [29]:
df_bike_pp.head()

      start_end  pickup_month  pickup_day  pickup_hour  bike_demand
200           3            12           0            0            1
343           6            12           0            0           24
511           7            12           0            0           14
1045         14            12           0            0           18
1212         15            12           0            0          260

In [30]:
df_weather.head()

,datetime (UTC),"coordinates (lat,lon)",model (name),model elevation (surface),utc_offset (hrs),temperature (degC),wind_speed (m/s),total_precipitation (mm of water equivalent),snowfall (mm of water equivalent),snow_depth (mm of water equivalent)
0,1/1/21 12:00 AM,"(40.76872225, -73.9826608125)",era5,23.61,-5,4.33,2.82,0.0,0.0,0.0
1,1/1/21 1:00,"(40.76872225, -73.9826608125)",era5,23.61,-5,3.93,2.54,0.0,0.0,0.0
2,1/1/21 2:00,"(40.76872225, -73.9826608125)",era5,23.61,-5,3.30,2.52,0.0,0.0,0.0
3,1/1/21 3:00,"(40.76872225, -73.9826608125)",era5,23.61,-5,1.46,2.22,0.0,0.0,0.0
4,1/1/21 4:00,"(40.76872225, -73.9826608125)",era5,23.61,-5,0.81,2.55,0.0,0.0,0.0

In [31]:
df_weather_pp.head()

,pickup_month,pickup_day,pickup_hour,temperature (degC),wind_speed (m/s),total_precipitation (mm of water equivalent),snowfall (mm of water equivalent),snow_depth (mm of water equivalent)
0,1,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0
2,1,0,2,0,0,0,0,0
3,1,0,3,0,0,0,0,0
4,1,0,4,0,0,0,0,0

In [32]:
merge = merge_data(df_binned_taxi, df_binned_bike, df_weather_pp)

In [12]:
merge.head()

,start_end,pickup_month,pickup_day,pickup_hour,taxi_demand,bike_demand,temperature (degC),wind_speed (m/s),total_precipitation (mm of water equivalent),snowfall (mm of water equivalent),snow_depth (mm of water equivalent)
0,63,1,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1,69,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,86,1,0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,93,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
merge_final = transform_ff_data(merge, 5)

In [34]:
merge_final.head()

,pickup_month_sin,pickup_month_cos,pickup_day_sin,pickup_day_cos,pickup_hour_sin,pickup_hour_cos,start_end,temperature (degC),wind_speed (m/s),total_precipitation (mm of water equivalent),snowfall (mm of water equivalent),snow_depth (mm of water equivalent),taxi_demand,bike_demand
0,0.5,0.866025,0.0,1.0,0.0,1.0,0.1008,0,0,0,0,0,2.0,0.0
1,0.5,0.866025,0.0,1.0,0.0,1.0,0.1104,0,0,0,0,0,1.0,0.0
2,0.5,0.866025,0.0,1.0,0.0,1.0,0.1376,0,0,0,0,0,3.0,0.0
3,0.5,0.866025,0.0,1.0,0.0,1.0,0.1488,0,0,0,0,0,1.0,0.0
4,0.5,0.866025,0.0,1.0,0.0,1.0,0.1616,0,0,0,0,0,1.0,0.0

In [35]:
dataset_final = normalize_data(merge_final)

In [36]:
dataset_final.head()

,pickup_month_sin,pickup_month_cos,pickup_day_sin,pickup_day_cos,pickup_hour_sin,pickup_hour_cos,start_end,temperature (degC),wind_speed (m/s),total_precipitation (mm of water equivalent),snowfall (mm of water equivalent),snow_depth (mm of water equivalent),taxi_demand,bike_demand
0,0.5,0.866025,0.0,1.0,0.0,1.0,0.1008,0,0,0,0,0,0.000066,0.0
1,0.5,0.866025,0.0,1.0,0.0,1.0,0.1104,0,0,0,0,0,0.000033,0.0
2,0.5,0.866025,0.0,1.0,0.0,1.0,0.1376,0,0,0,0,0,0.000098,0.0
3,0.5,0.866025,0.0,1.0,0.0,1.0,0.1488,0,0,0,0,0,0.000033,0.0
4,0.5,0.866025,0.0,1.0,0.0,1.0,0.1616,0,0,0,0,0,0.000033,0.0

In [37]:
dataset_final.to_csv((data_dir + 'feedforward_2021.csv'))

# Process GAN data

In [38]:
data_dir = '/Users/probook/Documents/GitHub/mobilityforecast/data/'
num_bins = 4
# Load all of 2021 taxi and bike data
year = 2021

# Create an empty array to store the processed arrays for each month
bike_array = np.empty((0, num_bins**2, num_bins**2, 1))
taxi_array = np.empty((0, num_bins**2, num_bins**2, 1))
weather_array = np.empty((0, 1, 8))

df_weather = load_data(data_dir,'manhattan.csv','csv')

for i in range(0,12):
    df_bike = load_data(data_dir,'2021{:02d}-citibike-tripdata.csv'.format(i+1),'csv')
    df_taxi = load_data(data_dir,'yellow_tripdata_2021-{:02d}.parquet'.format(i+1),'parquet')
    st_bike_pp = gan_data(df_bike, data_dir, 'CitiBike', year, i+1, num_bins)
    st_taxi_pp = gan_data(df_taxi, data_dir, 'Taxi', year, i+1, num_bins)
    st_weather_pp = gan_data(df_weather, data_dir, 'Weather', year, i+1)
    # concatenate with existing arrays
    bike_array = np.concatenate((bike_array, st_bike_pp))
    taxi_array = np.concatenate((taxi_array, st_taxi_pp))
    weather_array = np.concatenate((weather_array, st_weather_pp))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/probook/Documents/GitHub/mobility-mini-project/data/manhattan.csv'

In [39]:
print(taxi_array.shape, bike_array.shape, weather_array.shape)

(0, 16, 16, 1) (0, 16, 16, 1) (0, 1, 8)

In [21]:
# Save the arrays to individual csv files
np.save((data_dir + 'gan_bike_2021.npy'), bike_array)
np.save((data_dir + 'gan_taxi_2021.npy'), taxi_array)
np.save((data_dir + 'gan_weather_2021.npy'), weather_array)